<!doctype html>
<!--
 Copyright 2021 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<html>
<head>
  <title>MELTS web services</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>MELTS web services</h1>

  <h2>Schema documentation</h2>
  <p><a href="/static/MELTSinput.html">MELTS input service description</a></p>
  <p><a href="/static/MELTSoutput.html">MELTS output service description</a></p>

  <h2>Schema files</h2>
  <p><a href="/static/MELTSinput.xsd">MELTSinput.xsd</a></p>
  <p><a href="/static/MELTSoutput.xsd">MELTSoutput.xsd</a></p>
  <p><a href="/static/MELTSstatus.xsd">MELTSstatus.xsd</a></p>

  <h2>Webservice test</h2>
  <p><code>
    curl -X POST -H "Content-Type: text/xml" -d '<MELTSinput><initialize><modelSelection>MELTS_v1.2.x</modelSelection><SiO2>77.7</SiO2><TiO2>0.08</TiO2><Al2O3>12.5</Al2O3><Fe2O3>0.1924</Fe2O3><FeO>0.4869</FeO><MgO>0.03</MgO><CaO>0.43</CaO><Na2O>3.99</Na2O><K2O>4.89</K2O><H2O>5.47</H2O></initialize><calculationMode>equilibrate</calculationMode><title>MELTS Web Service called from Excel. [created 2014Apr23] (version 1.0.3)</title><sessionID></sessionID><constraints><setTP><initialT>757</initialT><initialP>1750</initialP><fo2Path>nno</fo2Path><fo2Offset>0</fo2Offset></setTP></constraints><suppressPhase>amphibole</suppressPhase><suppressPhase>leucite</suppressPhase><fractionationMode>fractionateNone</fractionationMode></MELTSinput>' -i http://127.0.0.1:8080/Test
  </code></p>

  <p><a href="http://127.0.0.1:8080/Oxides">Retrive list of oxides</a></p>
  <p><code>http://127.0.0.1:8080/Oxides</code></p>

  <p><a href="http://127.0.0.1:8080/Phases">Retrive list of phases</a></p>
  <p><code>http://127.0.0.1:8080/Phases</code></p>

</body>
</html>
